


body{
    background-color: rgb(0, 4, 8);
}

#containerFather{
    text-align: center;
    padding: 15px 75px 75px 75px;
    margin: auto;
    width: 900px;
    height: 400px;
    background-color: aquamarine;
}

#container{
    margin: auto;
    width: 315px;
    height: 315px;
    border-style: dotted;
    border-color: rgb(80, 88, 5);
}

/*Quadrado com propriedade radius que será alterada pelo usuário ++*/
#box{
    margin: 7.5px 7.5px 7.5px 7.5px ;
    width: 300px;
    height: 300px;
    background-color: darkolivegreen;
    /*border-radius: 100% 0% 0% 0%/ 0% 100% 100% 100% ; */
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0% ;
}
/*Quadrado com propriedade radius que será alterada pelo usuário --*/


/*classe dos blocos ++*/
.slider{
    margin: 0px;
    padding: 0px;
    position: absolute;
    background: transparent;
    outline: none;
    height:2px;
    -webkit-appearance: none;
    width: 319px;
    pointer-events: none;/*desativa todos os elementos do slider como alvo de click*/
}
/*classe dos blocos --*/



/* Para o navegador Chrome(modificação no bloco(ou circulo) do elemento range) ++*/ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #b4bdb4;
    cursor: pointer;
    pointer-events: all;
    
  }

 

  /* Para o navegador mozilla(modificação no bloco(ou circulo) do elemento range) ++*/ 
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #b4bdb4;
    cursor: pointer;/*ativa o thumb(quadradinho) do slider como alvo de click*/
    
  }
  /* Para o navegador mozilla -- tem que ser implementado para cara um dos 
  elementos abaixo pois foi especificado comportamentos para cada "id", ou seja,
  comportamentos específicos fora da classe .slider.
  */ 



/*Bloco superior esquerdo ++ */
  #topLeftSlider{
    z-index: 0;
}

#topLeftSlider::-webkit-slider-thumb:hover{
    background-color: #4285f4;
    background-image: url(/ARROW-LT.png);
}
/*Bloco superior esquerdo -- */


/*Bloco superior direito ++ */
#topRightSlider{
    transform: rotate(180deg);
    z-index: 1;

}


#topRightSlider::-webkit-slider-thumb:hover{
    background: #34a853;
    background-image: url(/ARROW-RT.png);

}
/*Bloco superior direito -- */


/*Bloco inferior direito ++ */
#bottomRightSlider{
    z-index:0;
    transform: rotate(180deg);
  ;
    

}

#bottomRightSlider::-webkit-slider-thumb:hover{
    background: #fbbc05;
    background-image: url(/ARROW-RB.png);

}
/*Bloco inferior direito -- */


/*Bloco inferior esquerdo ++ */
#bottomLeftSlider{
    z-index:1;
}
 

#bottomLeftSlider::-webkit-slider-thumb:hover{
    background: #ea4335;
    background-image: url(/ARROW-LB.png);
}
/*Bloco inferior esquerdo -- */


output{
    color: cornsilk;
    display: inline-block;
}

label{
    color: cornsilk;
}



#containerText{
    margin-top: 50px;
    text-align: center;

}

#rightContainer{
    position: relative;
    padding: 5px;
    float: right;
    background-color: black;
}

#leftContainer{
    
    float: left;
}

#inferiorButtons{
    position: absolute;
    bottom: 2.7%;
}

#superiorButtons{
    position: absolute;
    top: 2%;
}